
.top{
    padding: 24px 24px;
    margin-bottom: 16px;
    background: #fff;
    button{
        margin-right: 10px;
    }
}
.table_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    >span{
        font-size: 18px;
    }
    ul{
        display: flex;
        align-items: center;
        li{
            margin-right: 15px;
        }
    }
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    position: fixed;
    right: 16px;
    bottom: 0;
    z-index: 99;
    width: calc(100% - 208px);
    // padding-left: 24px;
    padding: 0 24px;
    line-height: 44px;
    background: #fff;
    border-top: 1px solid #f0f0f0;
    box-shadow: 0 -6px 16px -8px rgba(0,0,0,.08), 0 -9px 28px 0 rgba(0,0,0,.05), 0 -12px 48px 16px rgba(0,0,0,.03);
    transition: width .3s cubic-bezier(.645,.045,.355,1);
    p{
       
        button:first-child{
            margin-right: 10px;
        }
    }
    p:first-child{
        margin-left: 15px;
    }
}
.Edit{
    background-color: #fff;
    box-shadow: 0 -6px 16px -8px rgba(0,0,0,.08), 0 -9px 28px 0 rgba(0,0,0,.05), 0 -12px 48px 16px rgba(0,0,0,.03);
    .header{
        display: flex;
        padding:5px 8px;
        justify-content: space-between;
        align-items: center;
    }
}
