.header{
    background: #fff;
    padding: 16px 24px;
    padding-top: 0px;
    p{
        line-height: 40px;
    }
}
.row_content{
    margin: 24px 24px 0;
    // background-color: #fff;
    
        .step{
            width: 60%;
            margin: 0 auto;
        }
  
}
.input{
   input{
    border-top: none;
    border-bottom: none;
   }
}
.url_span{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #efeeee;
    span{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.submit{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 20px;
    // width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 24px;
    z-index: 99;
    display: flex;
   line-height: 44px;
   border-top: 1px solid #f0f0f0;
    box-shadow: 0 -6px 16px -8px rgba(0,0,0,.08), 0 -9px 28px 0 rgba(0,0,0,.05), 0 -12px 48px 16px rgba(0,0,0,.03);
    transition: width .3s cubic-bezier(.645,.045,.355,1);
    button{
        margin-right: 20px;
    }
}