*,ul,ol,dl{
  margin: 0;
  padding: 0;
}

li{
  text-decoration: none;
  list-style: none;
  margin: 0;
}
p{
  margin: 0;
  padding: 0;
}


.ant-layout .trigger {
    font-size: 18px;
    // line-height: 64px;
    padding: 0 24px;
    padding-right: 15px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .ant-layout .trigger:hover {
    color: #1890ff;
  }
  
  .ant-layout .logo {
    height: 32px;
    // background: rgba(255, 255, 255, 0.3);
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    // color: #Fff;
    img{
        display: block;
      
    }
    .name{
      color: hsla(0,0%,100%,.65);
      padding-left: 10px;
    }
  }
 
  .site-layout {
    overflow-y: auto;
    height: 100vh;
    // .site-layout-background {
    //   background: #fff;
    // }
   
  }

.ant-layout{
  .ant-menu-dark {
    .ant-menu-item:hover{
      background-color:#5ca6ea;
  }
}
}


  // .ant-card{
  //   height: 100%;
  // }
  .ant-card-body{
      .ant-card:hover{
        box-shadow:6px 0px 5px -5px  #ddd;
        // border: 1px solid #1890ff;
        
    }
  }
  .steps-content {
    margin-top: 16px;
    // border: 1px dashed #e9e9e9;
    border-radius: 2px;
    background-color: #fff;
    min-height: 200px;
    text-align: center;
    padding-top: 80px;
    width: 60%;
    margin: 0px auto;
  }
  
  .steps-action {
    margin-top: 24px;
  }
  .basic_date{
    width: 100%;
    .ant-space-item{
        width: 100%;
    }
}
.advanceform{
  .ant-form-item-label{
      text-align: left;
  }
}
.header_title{
  background: #fff;
  padding: 16px 24px;
  padding-top: 0px;
  p{
      line-height: 40px;
  }
}
.content_main{
    margin: 24px;
}